// Header-dokument

// Hierarki för all header-SCSS
header{
	position: relative;	//Används för positionering av menyalternativ
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $navColor;
	box-shadow: $boxShadow;

	.logo{
		display: flex;
		align-items: center;

		img{
			display: none;	// För att redigera om logga läggs till
		}
	}

	nav{
		@include flex ($gap: 2em);	// Inkluderar flex med en gap

		.logIn{
			@include button;	// Inkluderar button-styling
			padding: 0.3em 0.5em;
			border-radius: 1em;
		}

		.hamburger{
			@include flex($direction: column);	//Inkluderar flex i hamburgerikonen
			cursor: pointer;

			&:hover{
				filter: brightness(120%);
			}

			span{	// Strecken i hamburgerikonen
				display: block;
				width: 40px;
				height: 8px;
				border-radius: 1em;
				background-color: $purpleColor;
				transition: 0.5s;
				transform-origin: left center;
			}
			
			.engaged{	// Utseende för hamburgerikonens aktiverade läge
				
				&:nth-of-type(1){
					transform: rotate(40deg);
				}
				&:nth-of-type(2){
					width: 0;
					opacity: 0;
				}
				&:nth-of-type(3){
					transform: rotate(-40deg);
				}
			}

			// Förminskar hamburgerikonens storlek om skärm är mindre än 650px
			@media all and (max-width: 650px){
				span{
					width: 30px;
					height: 5px;
				}
		
				.engaged{
					&:nth-of-type(1){
						transform: rotate(42.5deg);
					}
		
					&:nth-of-type(3){
						transform: rotate(-42.5deg);
					}
				}	
			}

		}

		.navMenu{	// Navigationsmenyn
			@include flex($direction: column, $align: flex-start, $gap: 0.5em);	// Inkluderar flex
			// Är gömd för att sedan visas med javascript
			visibility: hidden;
			opacity: 0;
			background-color: $articleColor;
			border-bottom-left-radius: 10px;
			padding: 2em;
			position: absolute;	// Används för att kunna positionera med "top"
			right: 0;
			top: 100%;
			box-shadow: $boxShadow;
			transition: opacity 0.3s linear;
	
			li{
				display: none;	// Gömd till och med aktivering med javascript
				border-bottom: solid 1px $greyColor;
				width: 100%;	
				// Animationsegenskaper för list-items i menyn
				animation-name: animateIn;
				animation-duration: 350ms;
				animation-delay: calc(var(--animation-order) * 100ms);	// Baserat på variabel i HTML
				animation-fill-mode: both;
				animation-timing-function: ease-in-out;
	
				&:hover{
					filter: brightness(50%);
				}
	
				a{
					display: block;
					width: 100%;	
				}
			}
			
			@keyframes animateIn {	// Keyframes för animation av navigationsmeny
				0% {
					opacity: 0;
					transform: scale(0.6);
				}
	  
				100% {
					opacity: 1;
				}
			}
		}
	}
}


