// Variabel- och mixin-dokument

// Variabellista med färger och skuggning
$backgroundColor: #f8ede3;
$navColor: #d0b8a8;
$greyColor: #656565;
$articleColor: #ECE1D0;
$purpleColor: #7d6e83;
$boxShadow: 0 5px 8px rgba(0,0,0,0.15);

// Mixin med designelement för att skapa knappar
@mixin button{
	display: block;
	background-color: $purpleColor;
	color: white;
	
	&:hover{
		filter: brightness(120%);
	}
}

// Mixin för att effektivisera användningen av display: flex
@mixin flex ($display: flex, $direction: row, $justify: center, $align: center, $gap: 5px){
	// Endast parameter ändras istället för fullständig styling i SCSS 
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}