// Scss för kontakt.html

@import "universalSCSS";    // Importerar separat dokument med universell SCSS

main{
    margin: 3em;

    // Brytpunkt med annan styling för main
    @media all and (max-width: 650px){
        margin: 1em;
    }

    h3{
        margin-top: 1em;
		margin-bottom: 0.25em;
    }

    // FAQ-sektionen
    .FAQ{
        // Frågor fördelas i grid med två kolumner
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        column-gap: 6em;

        // Divider med fråga och svar
        article{
            p{
                // Innehåll är osynligt, togglas med javascript
                max-height: 0;
                overflow: hidden;
                background-color: $articleColor;
                padding: 0 1em;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: max-height 1s, padding 0.4s ease;   // Animerar max-height och padding
                box-shadow: $boxShadow;
            }

            /* Läggs till med javascript när dropdown aktiveras,
            ökar max-height och padding för animation*/
            .height{
                padding: 0.5em 1em;
                max-height: 250px;
            }

            // Delar på fråga och pilikon
            .questionDivider{
                @include flex($justify: space-between); // Inkluderar flex
                cursor: pointer;    // Klickbar
                background-color: $greyColor;
                padding: 0.8em 1.3em;
                border-radius: 20px;                
                transition: border-radius 0.5s linear;  // Animerar border radius när den ändras med javascript
                transition-delay: 0.8s;
                box-shadow: $boxShadow;

                // Styling för frågorna
                h3{
                    margin-top: 0;
                    color: white;
                    font-size: calc(14px + 0.390625vw);
                }

                // Divider innehåller pilens komponenter
                div{
                    position: relative; // Används för positionering av span
                    @include flex($gap: 0); // Inkluderar flex

                    // Pilkomponent/Streck
                    span{
                        background-color: white;
                        border-radius: 1em;
                        width: 30px;
                        height: 6px;
                        transition: transform 0.5s ease;    // Animerar rotation av pilikon

                        &:nth-of-type(1){
                            position: absolute; // Används för positonering med right
                            right: 17px;
                            transform: rotate(45deg);
                        }
                        
                        &:nth-of-type(2){
                            transform: rotate(-45deg);
                        }

                        // Brytpunkt med ändrad styling av pilkomponenternas storlek och postionering
                        @media all and (max-width: 1000px){
                            width: 20px;
                            height: 4px;

                            &:nth-of-type(1){
                                right: 12px;
                            }
                        }
                    }
                }
            }

            // Aktiveras med javascript
            .questionExpand{
                // Frågans border radius redigeras och animeras
                border-radius: 20px 20px 0 0;

                //Roterar pilen för att peka upp
                div{
                    span{
                        &:nth-of-type(1){
                            transform: rotate(-45deg);
                        }

                        &:nth-of-type(2){
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        // Brytpunkt med ändrad styling för FAQ-grid
        @media all and (max-width: 1000px){
            grid-template-columns: 1fr; // En kolumn
            gap: 2em;      
        }
    }

    // Kontaktsektion
    .contact{
        // Grid delar upp kontaktformulär och kontaktinformation
        display: grid; 
        grid-template-areas:    // Namnger gridens ytor
            "form info"
            "form info"
            "form ."
            "form ."
        ;
        grid-auto-columns: 1fr;
        gap: 6em;

        // Kontaktformulär
        .contactForm{
            grid-area: form;    // Tilldelas grid areas "form"-yta
            @include flex($direction: column, $justify: normal, $gap: 1em);   // Inkluderar flex i kolumn

            form{
                width: 100%;
                @include flex($direction: column, $gap: 1em);   // Inkluderar flex i kolumn, delar upp inmatningar
                background-color: $articleColor;
                padding: 1.5em;
                border-radius: 2em;
                box-shadow: $boxShadow;

                input{
                    width: 100%;
                    outline: none;  // Tar bort automatisk outline på input
                    border: solid 4px $purpleColor;
                    border-radius: 1em;
                    padding: 0.1em 0.5em;
                    background-color: $backgroundColor;
        
                    // Formulärets knapp
                    &:last-of-type{
                       @include button;
                       cursor: pointer;
                    }
                }

                // Ruta för meddelande
                textarea{
                    // Teckensnitt och storlek
                    font-size: calc(14px + 0.390625vw);
                    font-family: "Poppins", sans-serif;
                    color: $greyColor;
                    width: 100%;
                    outline: none;  // Tar bort automatisk outline på textarea
                    border: solid 4px $purpleColor;
                    border-radius: 1em;
                    padding: 0.1em 0.5em;
                    background-color: $backgroundColor;
                    resize: none;   // Förbjuder ändring av storlek med drag av mus

                    // Styling av textareas scrollbar
                    // Bakgrundsfärg och border-radius
                    &::-webkit-scrollbar-track{
                        border-radius: 1em;
                        background-color: $greyColor;

                    }
                    
                    // Scrollbarbredd
                    &::-webkit-scrollbar{
                        width: 12px;
                    }
                    
                    // Färg och border-radius för rullningslist
                    &::-webkit-scrollbar-thumb{
                        border-radius: 1em;
                        background-color: $navColor;
                    }
                }
            }
        }

        // Kontaktinformation
        .contactInfo{
            grid-area: info;    // Tilldelas "info"-ytan i grid
            padding: 1.5em;
            background-color: $greyColor;
            border-radius: 2em;
            box-shadow: $boxShadow;

            // Underrubriker
            h3{
               color: white; 
               border-top: 1px solid white; // Streck mellan kontakttyper
               margin-top: 0.5em;
               padding-top: 0.5em;
               
                &:nth-of-type(1){   // Tar bort streck och extra utrymme över den första typen
                    margin-top: 0;
                    padding-top: 0;
                    border-top: 0;
                }
            }

            // Kontaktlänkar
            a{
                color: white;                
            }

            // Divider för sociala medier
            div{
                @include flex($justify: start, $gap: 2em);  // Inkluderar flex, delar på knapparna

                a{  // Sociala medie-länkar
                    @include flex;  // Flex för centrering av ikon
                    width: 2em;
                    height: 2em;
                    border-radius: 1em;
                    font-size: calc(30px + 0.390625vw); // Storlek av ikon (awesome font teckensnittsikoner)

                    &:hover{
                        filter: brightness(120%);
                    }

                    // Brytpunkt med storleksändring för sociala medie-ikoner
                    @media all and (max-width: 650px){
                        width: 1.5em;
                        height: 1.5em;
                    }
                }

                // Färger för de olika ikonerna
                .fa-instagram{
                    background-color: #125688;
                }
    
                .fa-facebook{
                    background-color: #3B5998;
                }
    
                .fa-twitter{
                    background-color: #55ACEE;
                }
    
                .fa-linkedin{
                    background-color: #007bb5;
                }
            }
        }

        // Brytpunkt med ändrad styling för .contact
        @media all and (max-width: 1000px){
            grid-template-areas:    // En kolumn, innehåll fördelas vertikalt
            "form"
            "info"
            ;
            gap: 2em;            
        }
    }
}